<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{pageTitle}}</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="shortcut icon" href="https://ws.ascard.net/favicon.png" type="image/png">
		<link rel="icon" href="https://ws.ascard.net/favicon.png" type="image/png">
	</head>
	<body>
		{{{body}}}
	</body>
</html>
