<h1>ASCard WS</h1>
<ul>
  <li>
    <a href="https://ws.ascard.net/log/consolelog.txt" target="_BLANK">
      Passenger log
    </a></li>
  <li><a
      href="https://ws.ascard.net/log/combined-{{date}}.log"
      target="_BLANK"
    >Winston combined log
    </a></li>
  <li><a
      href="https://ws.ascard.net/log/error-{{date}}.log"
      target="_BLANK"
    >Winston error log</a></li>
</ul>