<h1>ASCard WS</h1>
<h2>API docs</h2>
<ul>
  <li>
    <a href="./api-docs">API documentation</a>
  </li>
</ul>
<h2>Logs</h2>
<ul>
  <li>
    <a href="https://ws.ascard.net/public/log/consolelog.txt" target="log">
      Passenger log
    </a></li>
  <li><a
      href="https://ws.ascard.net/public/log/combined-{{date}}.txt"
      target="log"
    >Winston combined log
    </a></li>
  <li><a
      href="https://ws.ascard.net/public/log/error-{{date}}.txt"
      target="log"
    >Winston error log</a></li>
</ul>